{% extends 'base.html.twig' %}
{% block billCss %}
<link rel="stylesheet" href="{{ asset('css/bill.css') }}">
{% endblock %}
{% block page %}	                        
<!-- BILL START -->       
<div class="receipt-content">
    <div class="container bootstrap snippets bootdey">
		<div class="row">
			<div class="col-md-12">
				<div class="invoice-wrapper">
					<div class="intro">
						<strong>Facture</strong> 
					</div>

					<div class="payment-info">
						<div class="row">
							<div class="col-sm-6 text-left">
								<span>Date de la facture</span>
								<strong>{{dateOfDay}}</strong>
								<br>
								<span>Date de paiement</span>
								<strong>{{dateOfDay}}</strong>
							</div>
							<div class="col-sm-6 text-right">
								<span>Numéro de la facture</span>
								<strong>1233</strong>
							</div>
						</div>
					</div>

					<div class="payment-details">
						<div class="row">
							<div class="col-sm-6">
								<span>Client</span>
								<strong>
									{{ app.user.name }}
								</strong>
								<p>
									{{ app.user.number }}
									<br>
									<a href="#">
										{{ app.user.email }}
									</a>
								</p>
							</div>
							<div class="col-sm-6 text-right">
								<span>Paiement à</span>
								<strong>
									Demo Hair Coiffure
								</strong>
								<p>
									8 Rue Raymond Bellague, 
									<br>
									77520 Donnemarie-Dontilly. 
									<br>
									FRANCE 
									<br>
									Tel: 06 58 54 29 89
								</p>
							</div>
						</div>
					</div>

					<div class="line-items">
						<div class="headers clearfix">
							<div class="row">
								<div class="col-sm-6" >Description</div>
								<div class="col-sm-6 text-right">Somme</div>	
							</div>
							<div class="items">
								<div class="row item">
									<div class="col-sm-6 desc">
										1 {{eventNewRegistrer.haircut.name}}
									</div>
									<div class="col-sm-6 amount text-right">
										{{eventNewRegistrer.haircut.price}}€
									</div>
								</div>
							</div>
							<div class="total text-right">
								<div class="field grand-total">
									Total TTC<span>{{eventNewRegistrer.haircut.price}}€</span>
								</div>
							</div>

							<div class="print">
								<a href="{{ path('user_bill_upload') }}">
									<i class="fa fa-print"></i>
									Téléchargement
								</a>
							</div>
						</div>
					</div>

					<div class="footer">
						Entreprise Demo Hair coiffure
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- BILL END -->
{% endblock %}
