{% extends 'base.html.twig' %}
{% block menu %}
{% endblock %}
{% block button %}
{% endblock %}
{% block page %}
<!-- ONLINE PAYMENT START -->
<div class="progress">
    <div class="progress-bar" role="progressbar" style="width: 100%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">Etape 3 sur 3</div>
</div>
<div class="site-section bg-light" id="contact-section">
    <div class="container">
        <div class="row justify-content-center text-center">
            <div class="col-7 text-center mb-5"> 
                <form  method="post"> 
                    <h3>Carte bancaire</h3>
                    <div class="form-wrapper">
                        <div id='errors'></div>
                        <input type="text" id="cardholder-name" placeholder="Titulaire de la carte">
                        <div id='card-elements'></div>
                        <div id='card-errors' role='alert'></div>
      
                        <button id='card-button' type='button' data-secret='{{ intent.client_secret }}'>Paiement</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>            
<!-- ONLINE PAYMENT END -->
{% endblock %}

{% block stripe %}
<script src="https://js.stripe.com/v3/"></script> 
<script > 
window.onload = () =>{
    //Variables
    let stripe = Stripe('pk_test_51IUKvkAez1VhFKwvXRzJ8I0i7UsDspIW88mi5nh7XqVG3Myd0sV6ncOHpCPXzJhqiHnmeBrTMqfVknl2Z2ojVMb1008Uf7yPjG')
    let elements = stripe.elements()
    let redirect = "{{ path('event_add') }}"


    //objets de la page
    let cardHolderName = document.getElementById('cardholder-name')
    let cardButton = document.getElementById('card-button')
    let clientSecret = cardButton.dataset.secret;

    //Crée les éléments du formulaire de carte bancaire
    let card = elements.create('card')
    card.mount('#card-elements')

    //On gère la saisie
    card.addEventListener("change", (event) => {
        let displayError = document.getElementById("card-errors")
        if(event.error){
            displayError.textContent = event.error.message;
        }else{
            displayError.textContent = "";
        }
    })

    // On gère le paiement
    cardButton.addEventListener("click", () => {
        stripe.handleCardPayment(
            clientSecret, card, {
                payment_method_data: {
                    billing_details: {name: cardHolderName.value}
                }
            }
        ).then((result) => {
            if(result.error){
                document.getElementById("errors").innerText = result.error.message
            }else{
                document.location.href = redirect
                
            }
        })
    })
}
</script>
{% endblock %}