{% extends 'base.html.twig' %}
{% block menu %}
{% endblock %}
{% block button %}
{% endblock %}
{% block page %}
<!-- ORDER SUMMARY START -->
<div class="progress">
    <div class="progress-bar" role="progressbar" style="width: 66%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">Etape 2 sur 3</div>
</div>
            
<div class="site-section bg-light" id="contact-section">
    <div class="container">
        <div class="row justify-content-center text-center">
            <div class="col-7 text-center mb-5">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Récapitulatif</th>
                            <th scope="col">Coupe de cheveux</th>
                            <th scope="col">Prix</th>
                            <th scope="col">date</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">Réservation</th>
                            <td>{{event.haircut.name}}</td>
                            <td>{{event.haircut.price}}</td>
                            <td>{{start}}</td>
                        </tr>
                    </tbody>    
                </table>
                <a href="{{ path('event_payment') }}"><button type="button" class="btn btn-primary">Valider</button></a>
            </div>
        </div>
    </div>
</div>      
<!-- ORDER SUMMARY END -->
{% endblock %}
