{% extends 'base.html.twig' %}
 
{% block page %}
<!-- CONNECTION LINK START -->  
<div class="site-section bg-light" id="contact-section">
    <div class="container">
        <div class="row justify-content-center text-center">
            <div class="col-7 text-center mb-5">
                <div class="alert alert error">
                    <h2>{% for message in app.flashes('error') %} {{ message }} {% endfor %}</h2>
                </div> 
                <form action="{{ path('login_link') }}" method="post">
                    <h3>Se connecter</h3>
                                
                    <div class="form-wrapper">
                        <label for="email">Email</label>
                        <input type="email"  name="email" id="email" class="form-control" required autofocus>
                    </div>
                        
                    <button>Connexion</button>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- CONNECTION LINK END -->
{% endblock %}
               