<h1>Bonjour ! Confirmez votre compte!</h1>

<p>
    <a href="{{ url('validate_account_member', {'submittedToken': submittedToken}) }}">Clik ici pour activer ton compte.</a>
</p>
<p>
    À très vite !!!
</p> 
