<h3>Bonjour,</h3>

<p>
	Votre inscription en tant que administrateur n'a pas été validé. Vous pouvez tout de même vous connecter sur le site et devenir un membre de celui-ci. A très vite !!!
    <a href="{{ url('home_page') }}">Clik ici pour aller sur le site</a>
</p>  