<h1>Bonjour ! Confirmez ou non ce compte administrateur!</h1>

<p>
    <a href="{{ url('validate_account_admin', {'submittedToken': submittedToken}) }}">Clik ici pour activer ce compte.</a>
</p>
<p>
    <a href="{{ url('delete_account_admin', {'submittedToken': submittedToken}) }}">Clik ici pour supprimer ce compte.</a>
</p>
<p>
    À très vite !!!
</p> 
