<h3>Bonjour,</h3>

<p>
	Votre inscription en tant que administrateur a été validé. Vous pouvez vous rendre sur le site ici. A très vite !!!
    <a href="{{ url('home_page') }}">Clik ici pour aller sur le site</a>
</p>  