{% extends 'base.html.twig' %}

{% block page %} 
<div class="site-section bg-light" id="contact-section"> 
    <div class="container">
        <div class="row justify-content-center text-center">
            <div class="col-7 text-center mb-5">

                {% for flashError in app.flashes('verify_email_error') %}
                    <div class="alert alert-danger" role="alert">{{ flashError }}</div>
                {% endfor %}
                <ul>   
                    {% if form_errors(registrationForm.email) %}
                    <div class="alert alert-danger">
                        {{ form_errors(registrationForm.email) }}    
                    </div>
                    {% endif %} 
                    {% if form_errors(registrationForm.password) %}
                    <div class="alert alert-danger">
                        {{ form_errors(registrationForm.password) }}    
                    </div>
                    {% endif %}    
                </ul>
  
                <form action="{{ path('member_register') }}" method="post">
                {{ form_start(registrationForm) }}
                
                    <h3>Inscription Membre</h3>
                    <br>
                    <div class="form-wrapper">
                        {{ form_label(registrationForm.name) }}
                        {{ form_widget(registrationForm.name ) }} 
                    </div>
              
                    <div class="form-wrapper">
                        {{ form_label(registrationForm.email) }}
                        {{ form_widget(registrationForm.email ) }}
                    </div>
                                         
                    <div class="form-wrapper">
                        {{ form_label(registrationForm.number) }}
                        {{ form_widget(registrationForm.number ) }}
                    </div>
                                  
                    <div class="form-wrapper">
                        {{ form_label(registrationForm.password.first) }}
                        {{ form_widget(registrationForm.password.first ) }} 
                    </div>
                                      
                    <div class="form-wrapper">
                        {{ form_label(registrationForm.password.second) }}
                        {{ form_widget(registrationForm.password.second ) }}
                    </div> 

                    {{ form_label(registrationForm.agreeTerms) }}
                    {{ form_widget(registrationForm.agreeTerms ) }}          
                                
                    <input type="hidden" name="token" value="{{ csrf_token('validateUser') }}"/>
          
                    <div class="form-wrapper">
                        <button>S'inscrire</button>
                    </div>
                
                {{ form_end(registrationForm) }}
                </form>              
            </div> 
        </div>
    </div>
</div>
{% endblock %}
