<form method="post" action="{{ path('haircut_delete', {'id': haircut.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ haircut.id) }}">
    <button class="btn">Delete</button>
</form>
