{% extends 'base.html.twig' %}

{% block title %}Edit Haircut{% endblock %}

{% block body %}
    <h1>Edit Haircut</h1>

    {{ include('haircut/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('haircut_index') }}">back to list</a>

    {{ include('haircut/_delete_form.html.twig') }}
{% endblock %}
