{% extends 'base.html.twig' %}

{% block title %}Haircut index{% endblock %}

{% block body %}
    <h1>Haircut index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Description</th>
                <th>Price</th>
                <th>Image</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for haircut in haircuts %}
            <tr>
                <td>{{ haircut.id }}</td>
                <td>{{ haircut.name }}</td>
                <td>{{ haircut.description }}</td>
                <td>{{ haircut.price }}</td>
                <td>{{ haircut.image }}</td>
                <td>
                    <a href="{{ path('haircut_show', {'id': haircut.id}) }}">show</a>
                    <a href="{{ path('haircut_edit', {'id': haircut.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('haircut_new') }}">Create new</a>
{% endblock %}
