{% extends 'base.html.twig' %}

{% block title %}New Haircut{% endblock %}

{% block body %}
    <h1>Create new Haircut</h1>

    {{ include('haircut/_form.html.twig') }}

    <a href="{{ path('haircut_index') }}">back to list</a>
{% endblock %}
