{% extends 'base.html.twig' %}

{% block title %}Haircut{% endblock %}

{% block body %}
    <h1>Haircut</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ haircut.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ haircut.name }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ haircut.description }}</td>
            </tr>
            <tr>
                <th>Price</th>
                <td>{{ haircut.price }}</td>
            </tr>
            <tr>
                <th>Image</th>
                <td>{{ haircut.image }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('haircut_index') }}">back to list</a>

    <a href="{{ path('haircut_edit', {'id': haircut.id}) }}">edit</a>

    {{ include('haircut/_delete_form.html.twig') }}
{% endblock %}
