{% extends 'base.html.twig' %}
{% block page %} 
<!-- ADMIN SIGN UP START -->          
<div class="site-section bg-light" id="contact-section">
    <div class="container">
        <div class="row justify-content-center text-center">
            <div class="col-7 text-center mb-5">
                <ul>   
                    {% if form_errors(form.email) %}
                    <div class="alert alert-danger">
                        {{ form_errors(form.email) }}    
                    </div>
                    {% endif %} 
                    {% if form_errors(form.password) %}
                    <div class="alert alert-danger">
                        {{ form_errors(form.password) }}    
                    </div>
                    {% endif %}    
                </ul>
                            
                <form action="{{ path('admin_sign_up') }}" method="post" >
                    {{form_start(form)}}
                    <h3>Inscription Administrateur</h3>
             
                    <div class="form-wrapper">
                        {{ form_label(form.name) }}
                        {{ form_widget(form.name ) }} 
                    </div>
   
                    <div class="form-wrapper">
                        {{ form_label(form.email) }}
                        {{ form_widget(form.email ) }}
                    </div>  
                                
                    <div class="form-wrapper">
                        {{ form_label(form.number) }}
                        {{ form_widget(form.number ) }}
                    </div>
                                     
                    <div class="form-wrapper">
                        {{ form_label(form.password.first) }}
                        {{ form_widget(form.password.first ) }} 
                    </div>
                                         
                    <div class="form-wrapper">
                        {{ form_label(form.password.second) }}
                        {{ form_widget(form.password.second ) }}
                    </div>
                     
                    <input type="hidden" name="token" value="{{ csrf_token('validateUser') }}"/>
          
                    <div class="form-wrapper">
                        <button>S'inscrire</button>
                    </div>
                    {{form_end(form)}}
                </form>
            </div>
        </div>
    </div>
</div>
<!-- ADMIN SIGN UP END -->
{% endblock %}