{% extends 'base.html.twig' %}
{% block page %}
<!-- ONE HAIRCUT DISPLAY START -->
<div class="site-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 mb-5 mb-lg-0">
                <div class="img-years">
                    <img src="{{ asset('images/'~haircut.image) }}" alt="Image" class="img-fluid">
                    <div class="year">
                        <span>{{haircut.price}}€</span>
                    </div>
                </div>
            </div> 
            <div class="col-lg-5 ml-auto pl-lg-5 text-center">
                <h3 class="scissors text-center">{{haircut.name}}</h3>
                <p class="mb-5 lead">{{haircut.description}}</p>
                {% if is_granted('ROLE_USER')  %}
                <p><a href="{{ path('online_booking', {'id': haircut.id}) }}"><button type="button" class="btn btn-danger">RDV</button></a></p>
                {% endif %}
                {% if not is_granted('ROLE_USER')  %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="" role="button" aria-haspopup="true" aria-expanded="false">Connexion/Inscription</a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="{{ path('member_register') }}">Inscription</a>
                        <a class="dropdown-item" href="{{ path('member_sign_in') }}">Connexion</a>
                    </div>
                </li>
                {% endif %}
            </div>
        </div>
    </div>
</div>
<!-- ONE HAIRCUT DISPLAY END -->
{% endblock %} 