{% extends 'base.html.twig' %}
{% block page %} 
<!-- HAIRCUTS DISPLAY START -->
<div class="site-section bg-light">
    <div class="container">
        <div class="row justify-content-center  mb-5">
            <div class="col-md-7 text-center">
                <div class="alert alert success">
                    <h2>
                    {% for message in app.flashes('success') %} {{ message }} {% endfor %}</h2>
                </div> 
                <div class="alert alert error">
                    <h2>{% for message in app.flashes('error') %} {{ message }} {% endfor %}</h2>
                </div> 
                <h3 class="scissors text-center">Prestation du salon</h3>
                <p class="mb-5 lead">
                    Vous trouverez ci-dessous tous les services que offre le salon.
                </p>
                <p class="text-center">
                    <a href="" class="btn btn-primary custom-prev">Précédent</a>
                    <a href="" class="btn btn-primary custom-next">Suivant</a>
                </p>
            </div>
        </div>  
        <div class="row">   
            <div class="col-12">
                <div class="nonloop-block-13 owl-carousel d-flex"> 
                    {% for haircut in haircuts %}
                    <div class="item-1 h">
                        <a href="{{ path('haircut_presentation', {'id': haircut.id}) }}"><img src="{{ asset('images/'~haircut.image) }}" alt="Image" class="img-fluid"></a>
                        <div class="item-1-contents">
                          	<h3>{{haircut.name}}</h3> 
                            <ul>
                                <li class="d-flex">
                                    <span>Prix de la prestation</span> 
                                    <span class="price ml-auto">{{haircut.price}} euros.</span>
                                </li>
                                <li class="d-flex">
                                  	<span><a href="{{ path('haircut_presentation', {'id': haircut.id}) }}" class="btn btn-secondary">Plus d'info</a></span> 
                                    {% if is_granted('ROLE_USER')  %}
                                        <span class="price ml-auto"><a href="{{ path('online_booking', {'id': haircut.id}) }}" class="btn btn-danger">RDV</a></span>
                                   {% endif %}
                                </li> 
                           	</ul>
                        </div>
                    </div>
                    {% endfor %}
                </div>   
            </div>  
        </div> 
    </div>
</div>  
<!-- HAIRCUTS DISPLAY END -->  
{% endblock %}