{% extends 'base.html.twig' %} 
 
{% block page %}
<!-- MEMBER SIGN IN START -->
<div class="alert alert error">
    {% for message in app.flashes('error') %} {{ message }} {% endfor %}
</div>
<div class="site-section bg-light" id="contact-section">
    <div class="container">
        <div class="row justify-content-center text-center">
            <div class="col-7 text-center mb-5">
                <form action="{{ path('app_login') }}" method="post">
                    {% if error %}
                    <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                    {% endif %}

                    <h3>Connexion</h3>        
                    <div class="form-wrapper">
                        <label for="inputemail">Email</label>
                        <input type="email" value="{{ last_username }}" name="email" id="inputemail" class="form-control" required autofocus>
                    </div>
                    <div class="form-wrapper">
                        <label for="inputPassword">Password</label>
                        <input type="password" name="password" id="inputPassword" class="form-control" required>
                    </div>    
                    <div class="form-wrapper">
                        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" id="remember_me" name="_remember_me">
                            Se souvenir de moi 
                            <span class="checkmark"></span>
                        </label>
                    </div>
                    <br>
                    <a {#href="{{ path('connectionLink') }}"#}>Mot de passe oublié</a>
                    <button>Connexion</button>
                </form>
            </div>
        </div>
    </div>
</div> 
<!-- MEMBER SIGN IN END -->
{% endblock %}