{% extends 'base.html.twig' %}

{% block page %}
<!-- NUMBER UPDATE START -->      
<div class="site-section bg-light" id="contact-section">
    <div class="container">
        <div class="row justify-content-center text-center">
            <div class="col-7 text-center mb-5">
                <form action="{{ path('update_number') }}" method="post">
                    {{form_start(form)}}
                    <h3>Modifier</h3>
                    <div class="form-wrapper">
                        {{ form_label(form.number) }}
                        {{ form_widget(form.number ) }}
                    </div>
      
                    <div class="form-wrapper">
                        <button>Modifier</button>
                    </div>
                    {{form_end(form)}}
                </form>
            </div>
        </div>
    </div>
</div>
<!-- NUMBER UPDATE END -->
{% endblock %} 