{% extends 'base.html.twig' %}

{% block page %}
<!-- DELETION OF THE RESERVATION DATE START -->           
<br>
<h1> Cliquez sur la date à supprimer</h1>
<br>
<div id='calendar'></div>
<br>
<!-- DELETION OF THE RESERVATION DATE END -->
{% endblock %}
{% block fullCalendar %}
<script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.5.1/main.min.js" integrity="sha256-rPPF6R+AH/Gilj2aC00ZAuB2EKmnEjXlEWx5MkAp7bw=" crossorigin="anonymous"></script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<script>
    window.onload = () => {
        let calendarElt = document.querySelector('#calendar')
        let calendar = new FullCalendar.Calendar(calendarElt, {
            initialView: 'timeGridWeek',
            locale: 'fr',
            timeZone:'Europe/Paris',
            selectable: true,
            selectMirror: true,
            unselectAuto: true,
            headerToolbar:{
                start:'prev',
                center:'title',
                end:'next'
            },
            slotMinTime:'8:00',
            slotMaxTime:'20:00',
            slotLabelInterval:'00:30',
            dateInfo:'end',
            height: 'auto',
            width: 'auto',
            titleFormat: { // will produce something like "Tuesday, September 18, 2018"
                month: '2-digit',
                year: 'numeric',
                day: '2-digit',
                hour: '2-digit',
                minute: '2-digit'
            }, 
            eventClick: function(info) {
                let result = confirm("Vous souhaitez supprimer ce RDV ?"); 
                if (result == true) {
                    $.ajax({    
                        url : "{{ path('event_data_to_delete') }}",
                        type : 'GET', // Le type de la requête HTTP, ici devenu POST
                        data : {start: info.event.startStr, end: info.event.endStr },
                    });
                    window.location.replace("{{ path('event_success_delete') }}");
                }else{
                }
            },
            events:{{ datas|raw }}
        })   
        calendar.render();
    }
</script> 
{% endblock %} 