{% extends 'base.html.twig' %}

{% block page %}
<!-- CHANGE BOOKING START -->  
<div class="progress">
    <div class="progress-bar" role="progressbar" style="width: 66%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">Etape 2 sur 3</div>
</div>
<div class="alert alert error">
    <h2>{% for message in app.flashes('error') %} {{ message }} {% endfor %}</h2>
</div>
<br>
<div class="site-section bg-light" id="contact-section">
    <div class="container">
        <div class="row justify-content-center text-center">
            <div class="col-7 text-center mb-5">
                <table class="table table-striped">
                    <h3>Pour modifier ce RDV appuyer sur le bouton valider</h3>
                    <br>
                    <thead>
                        <tr>
                            <th scope="col">Récapitulatif</th>
                            <th scope="col">Date et Heure du rdv</th>
                            <th scope="col">Coupe de cheveux</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">Réservation</th>
                            <td>{{startDate}}</td>
                            <td>{{event.haircut.name}}</td>
                        </tr>            
                    </tbody>
                </table>
                <br>
                <a href="{{ path('event_update', {'idBookingOld': event.id}) }}"><button type="button" class="btn btn-primary">Valider</button></a>
            </div>
        </div>
    </div>
</div>  
<!-- CHANGE BOOKING END -->
{% endblock %}