{% extends 'base.html.twig' %}

{% block page %}
<!-- MODIFY RESERVATION DATE START -->        
<div class="progress">
    <div class="progress-bar" role="progressbar" style="width: 100%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">Etape 3 sur 3</div>
</div>
<br>
<h1> Selectionnez dans le planning la nouvelle date du RDV</h1>
<br>
<div id='calendar'></div>
<br>
<!-- MODIFY RESERVATION DATE END -->
{% endblock %}
{% block fullCalendar %}
<script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.5.1/main.min.js" integrity="sha256-rPPF6R+AH/Gilj2aC00ZAuB2EKmnEjXlEWx5MkAp7bw=" crossorigin="anonymous"></script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<script> 
    window.onload = () => {
        let calendarElt = document.querySelector('#calendar')
        let calendar = new FullCalendar.Calendar(calendarElt, {
            initialView: 'timeGridWeek',
            locale: 'fr',
            timeZone:'Europe/Paris',
            selectable: true,
            selectMirror: true,
            unselectAuto: true,
            headerToolbar:{
                start:'prev',
                center:'title',
                end:'next'
            }, 
            slotMinTime:'8:00',
            slotMaxTime:'20:00',
            slotLabelInterval:'00:30',
            dateInfo:'end',
            height: 'auto',
            width: 'auto',
            titleFormat: { // will produce something like "Tuesday, September 18, 2018"
                month: '2-digit',
                year: 'numeric',
                day: '2-digit',
                hour: '2-digit',
                minute: '2-digit'
            },
            select: function(info){
                let result = confirm( "Vous souhaitez prendre un nouveau RDV le " + info.startStr  + " j'usqu'a " + info.endStr ) ;
                if (result == true) {
                    $.ajax({
                        url : "{{ path('event_modification_validate', {'idBookingOld': idBookingOld}) }}",
                        type : 'GET', // Le type de la requête HTTP, ici devenu POST
                        data : {start: info.startStr, end: info.endStr }
                    });
                    window.location.replace("{{ path('event_success_update') }}"); 
                } 
                else{
                }       
            },
            events:{{ data|raw }}
        })   
        calendar.render();
    }
</script>
{% endblock %}