{% extends 'base.html.twig' %}
 
{% block page %}
<!-- SELECT THE BOOKING DATE TO MODIFY START -->
<div class="progress">
    <div class="progress-bar" role="progressbar" style="width: 33%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">Etape 1 sur 3</div>
</div>
<div class="alert alert error">
    <h2>{% for message in app.flashes('error') %} {{ message }} {% endfor %}</h2>
</div>
<br>
<h1> Cliquez sur la date à modifier</h1>
<br>
<div id='calendar'></div>
<br>
<!-- SELECT THE BOOKING DATE TO MODIFY END -->
{% endblock %}
{% block fullCalendar %}
<script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.5.1/main.min.js" integrity="sha256-rPPF6R+AH/Gilj2aC00ZAuB2EKmnEjXlEWx5MkAp7bw=" crossorigin="anonymous"></script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<script>
    window.onload = () => {
        let calendarElt = document.querySelector('#calendar')
        let calendar = new FullCalendar.Calendar(calendarElt, {
            initialView: 'timeGridWeek',
            locale: 'fr',
            timeZone:'Europe/Paris',
            selectable: true,
            selectMirror: true,
            unselectAuto: true,
            headerToolbar:{
                start:'prev',
                center:'title',
                end:'next'
            },
            slotMinTime:'8:00',
            slotMaxTime:'20:00',
            slotLabelInterval:'00:30',
            dateInfo:'end',
            height: 'auto',
            width: 'auto',
            titleFormat: { // will produce something like "Tuesday, September 18, 2018"
                month: '2-digit',
                year: 'numeric',
                day: '2-digit',
                hour: '2-digit',
                minute: '2-digit'
            },
            eventClick: function(info) {
                let result = confirm( "Vous souhaitez modifier ce RDV ?"); 
                if (result == true) {
                    $.ajax({    
                        url : "{{ path('event_give_data') }}",
                        type : 'GET', // Le type de la requête HTTP, ici devenu POST
                        data : {start: info.event.startStr, end: info.event.endStr },
                    });
                    window.location.replace("{{ path('event_change') }}");
                }else{

                }
            },
            events:{{ datas|raw }} 
        })  
        calendar.render();
    }
</script> 
{% endblock %}
            