<!DOCTYPE html>
<html>
    {% block head %}
    <head>
        <meta charset="UTF-8">
        
        {% block stylesheets %}
        <title>Salon</title>
    
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        
        <!-- BOOTSTRAP START -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <!-- BOOTSTRAP END -->
        
        <!-- FOLDER MAIN FONTS -->
        <link rel="stylesheet" href="{{ asset('fonts/icomoon/style.css') }}">
        <link rel="stylesheet" href="{{ asset('fonts/flaticon/font/flaticon.css') }}">
        <link rel="stylesheet" href="{{ asset('fonts/material-design-iconic-font/css/material-design-iconic-font.min.css') }}">
        <!-- FOLDER MAIN FONTS END -->
        
        <!-- FOLDER MAIN CSS -->
        <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ asset('css/bootstrap-datepicker.css') }}">
        <link rel="stylesheet" href="{{ asset('css/jquery.fancybox.min.css') }}">
        <link rel="stylesheet" href="{{ asset('css/owl.carousel.min.css') }}">
        <link rel="stylesheet" href="{{ asset('css/owl.theme.default.min.css') }}">
        <link rel="stylesheet" href="{{ asset('css/aos.css') }}">
        <link rel="stylesheet" href="{{ asset('css/style.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ asset('css/sourcesanspro-font.css') }}">
        <link rel="stylesheet" href="{{ asset('css/style2.css') }}">
        <link rel="stylesheet" href="{{ asset('css/style3.css') }}">
        {% block billCss %}
        {% endblock %}
        <!-- FOLDER MAIN FONTS End -->
        
        <!-- EXTERN LINK START -->
        <link href="https://fonts.googleapis.com/css?family=DM+Sans:300,400,700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fullcalendar@5.5.1/main.min.css" integrity="sha256-uq9PNlMzB+1h01Ij9cx7zeE2OR2pLAfRw3uUUOOPKdA=" crossorigin="anonymous">
        <!-- EXTERN LINK End -->
        {% endblock %}
        
    </head>
    {% endblock %}
    {% block body %}
    <body>
        
        <div class="site-wrap" id="home-section">
            <!-- HEADER START -->
            {% block headerStart %}
            <header class="site-navbar site-navbar-target" role="banner">
                <div class="container">
                    <div class="row align-items-center position-relative">
                        <div class="col-3 ">
                            <div class="site-logo">
                                <a href="">Salon</a>
                            </div>
                        </div> 
                        {% block menu %}
                        <div class="col-9  text-right"> 
                            <span class="d-inline-block d-lg-none">
                                <ul class="site-menu main-menu js-clone-nav ml-auto ">
                                    <a class="text-white site-menu-toggle js-menu-toggle py-5 text-white" href="" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="icon-menu h3 text-white"></span>
                                    </a> 
                                    <div class="dropdown-menu">
                                        <li><a href="{{ path('home_page') }}" class="nav-link">Accueil</a></li>
                                        <li><a href="{{ path('all_haircuts', {'page': 1}) }}" class="nav-link">Nos prestations</a></li>
                                        <li><a href="{{ path('about_of_company') }}" class="nav-link">Qui sommes nous</a></li>
                                        {% if not is_granted('ROLE_USER')  %}
                                            <div class="dropdown-divider"></div>
                                            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="" role="button" aria-haspopup="true" aria-expanded="false">Connexion/Inscription</a> 
                                            <div class="dropdown-menu">
                                                <a class="dropdown-item" href="{{ path('member_register') }}">Inscription</a>
                                                <a class="dropdown-item" href="{{ path('app_login') }}">Connexion</a>
                                            </div>
                                        {% endif %} 
                                        {% if is_granted('ROLE_USER') %}
                                        <div class="dropdown-divider"></div>
                                        <li class="nav-item dropdown">
                                            <a class="dropdown-item dropdown-toggle" data-toggle="dropdown" href="" role="button" aria-haspopup="true" aria-expanded="false">Compte</a>
                                            <div class="dropdown-menu">
                                                <li><a class="nav-link" href="{{ path('event_planning_update') }}">Modifier mes rendez-vous</a></li>
                                                <li><a class="nav-link" href="{{ path('event_planning_delete') }}">Supprimer mes rendez-vous</a></li>
                                                <li><a class="nav-link" href="{{ path('update_password') }}">Modifier son mot de passe</a></li>
                                                <li><a class="nav-link" href="{{ path('update_email_user') }}">Modifier son Email</a></li>
                                                <li><a class="nav-link" href="{{ path('update_number') }}">Modifier son numéro de téléphone</a></li>
                                                <div class="dropdown-divider"></div>
                                                <li><a class="dropdown-item" href="{{ path('app_logout') }}">Déconnexion</a></li>
                                            </div>
                                        </li>
                                        {% endif %} 
                                    </div>
                                </ul>
                            </span>
                            <nav class="site-navigation text-right ml-auto d-none d-lg-block"  role="navigation"> 
                                <ul class="site-menu main-menu js-clone-nav ml-auto ">
                                    <li><a href="{{ path('home_page') }}"" class="nav-link">Accueil</a></li>
                                    <li><a href="{{ path('all_haircuts', {'page': 1}) }}" class="nav-link">Nos prestations</a></li>
                                    <li><a href="{{ path('about_of_company') }}" class="nav-link">Qui sommes nous</a></li>
                   
                                    {% if not is_granted('ROLE_USER')  %}
                                    <li class="nav-item dropdown">
                                        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="" role="button" aria-haspopup="true" aria-expanded="false">Connexion/Inscription</a> 
                                        <div class="dropdown-menu">
                                            <a class="dropdown-item" href="{{ path('member_register') }}">Inscription</a>
                                            <a class="dropdown-item" href="{{ path('app_login') }}">Connexion</a>
                                        </div>
                                    </li>
                                    {% endif %} 
                                    {% if is_granted('ROLE_USER')  %}
                                    <li class="nav-item dropdown"> 
                                        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="" role="button" aria-haspopup="true" aria-expanded="false">Compte</a>
                                        <div class="dropdown-menu">
                                            <a class="dropdown-item" href="{{ path('event_planning_update') }}">Modifier mes rendez-vous</a>
                                            <a class="dropdown-item" href="{{ path('event_planning_delete') }}">Supprimer mes rendez-vous</a>
                                            <a class="dropdown-item" href="{{ path('update_password') }}">Modifier son mot de passe</a>
                                            <a class="dropdown-item" href="{{ path('update_email_user') }}">Modifier son Email</a>
                                            <a class="dropdown-item" href="{{ path('update_number') }}">Modifier son numéro de téléphone</a>
                                            <div class="dropdown-divider"></div>
                                            <a class="dropdown-item" href="{{ path('app_logout') }}">Déconnexion</a>
                                        </div>
                                    </li>
                                    {% endif %}
                                </ul>
                            </nav> 
                        </div>  
                        {% endblock %}  
                    </div>
                </div>
            </header>
            {% endblock %}
            <!-- HEADER END -->

            <!-- HEADER PICTURE START -->
            {% block headerPictureStart %}
            <div class="ftco-blocks-cover-1">
                <div class="site-section-cover overlay" data-stellar-background-ratio="0.5" style="background-image: url('{{ asset('images/hero_1.jpg') }}')">
                    <div class="container">
                        <div class="row align-items-center justify-content-center text-center">
                            <div class="col-md-7">
                                <h1 class="mb-3">Cheveux et Barbe</h1>
                                <p>Coiffeur uniquement pour les hommes.</p>
                                {% block button %}
                                <p><a href="{{ path('about_of_company') }}" class="btn btn-primary">Plus d'info</a></p>
                                {% endblock %}
                            </div>
                        </div>
                    </div> 
                </div> 
            </div>
            {% endblock %}
            <!-- HEADER PICTURE END -->
            
            {% block page %}
       
            {% endblock %}
            
            <!-- SELLER TEXT START -->
            {% block sellerText %}
            <div class="site-section section-3" data-stellar-background-ratio="0.5" style="background-image: url('{{ asset('images/hero_1.jpg') }}');">
                <div class="container">
                    <div class="row justify-content-center text-center">
                        <div class="col-7 text-center mb-5">
                            <h2 class="text-white scissors primary-color-icon text-center">L'élégance est une attitude. Transmets celle-ci à ta coupe.</h2>
                            <p class="lead text-white mb-5">Beaucoup d’entre vous vont chez le Barbier pour un rasage, la taille de leur barbe ou de leur moustache.
                            Barbe de 3 jours, de 10 jours ou barbe plus conséquente, ce style est très tendance y compris dans le milieu professionnel.

                            Quant aux femmes, beaucoup apprécient le côté viril, baroudeur ou bien même homme des cavernes !!!

                            La taille de la barbe débute toujours par une phase de diagnostic approfondi afin de déterminer vos besoins..

                            Votre Barbier écoute vos souhaits, vous accompagne dans vos choix et vous conseille, en fonction de la morphologie de votre visage, sur la structure à donner à votre barbe.</p>    
                        </div>
                    </div>
                </div>
            </div>
            {% endblock %}
            <!-- SELLER TEXT END -->

            <!-- FOOTER START -->
            {% block footer %}
            <footer class="site-footer">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-3">
                            <h2 class="footer-heading mb-3">Salon</h2>
                            <p>8 Rue Raymond Bellague, 77520 Donnemarie-Dontilly. Nous sommes ouvert du Mardi au Samedi 24/24 .</p>
                        </div>
 
                        <div class="col-lg-8 ml-auto">
                            <div class="row">
                                <div class="col-lg-6 ml-auto">
                                    <h2 class="footer-heading mb-4">Menu admin</h2>
                                    <ul class="list-unstyled">
                                        {% if not is_granted('ROLE_ADMIN')  %}
                                        {#<li><a href="{{ path('admin_register') }}">Inscription admin</a></li>
                                        <li><a href="{{ path('app_login') }}">Connexion admin</a></li>#}
                                        {% endif %}  

                                        {% if is_granted('ROLE_ADMIN')  %}
                                        <li><a href="{{ path('admin') }}">Partie Admin</a>
                                        {% endif %}
                                    </ul>
                                </div> 
                            </div> 
                        </div> 
                        
                    </div>
                </div>
            </footer>
            {% endblock %}
            <!-- FOOTER END -->
        </div>
        {% block javascripts %}
        <script src="{{ asset('js/jquery-3.3.1.min.js') }}"></script>
        <script src="{{ asset('js/jquery-migrate-3.0.0.js') }}"></script>
        <script src="{{ asset('js/popper.min.js') }}"></script>
        <script src="{{ asset('js/bootstrap.min.js') }}"></script>
        <script src="{{ asset('js/owl.carousel.min.js') }}"></script>
        <script src="{{ asset('js/jquery.sticky.js') }}"></script>
        <script src="{{ asset('js/jquery.waypoints.min.js') }}"></script>
        <script src="{{ asset('js/jquery.animateNumber.min.js') }}"></script>
        <script src="{{ asset('js/jquery.fancybox.min.js') }}"></script>
        <script src="{{ asset('js/jquery.stellar.min.js') }}"></script>
        <script src="{{ asset('js/jquery.easing.1.3.js') }}"></script>
        <script src="{{ asset('js/bootstrap-datepicker.min.js') }}"></script>
        <script src="{{ asset('js/aos.js') }}"></script>

        <script src="{{ asset('js/main.js') }}"></script>

        <script type="text/javascript">
            {% include 'java.html.twig' %}
        </script>

        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
        {% block fullCalendar %}
        {% endblock %}
        {% block stripe %}
        {% endblock %}
        
        {% endblock %}
        
    </body>
    {% endblock %}
</html>
